# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
cluster/.idea/
cluster/venv/
"Cluster/\\home\\jean\\Documentos\\CEA-ML\\Cluster\\Output\\export_dataframe.csv"
cluster/__pycache__/
cluster/fuzzycmeans/__pycache__/
cluster/kmeans/__pycache__/
cluster/optimalC_method/__pycache__/
